:root {
    --font-family-01: 'Verdana', serif;

    --color-primary-01: #495E57;
    --color-primary-02: #F4CE14;
    --color-secondary-01: #EE9972;
    --color-secondary-02: #FBDABB;
    --color-secondary-03: #EDEFEE;
    --color-secondary-04: #333333;
    --color-text: #000000;
    --color-text-inverse: #ffffff;
}

body {
    font-family: var(--font-family-01);
}

h1, h2 {
    font-family: var(--font-family-01);
    font-weight: 600px;
}

h1 {
    color: var(--color-primary-02);
    font-size: 48px;
}

h2 {
    color: var(--color-text);
    font-size: 36px;
}

.inverse {
    color: var(--color-text-inverse);
}

p {
    font-family: var(--font-family-02);
}