.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
  margin: 0 10px; /* This adds 10px of space to the left and right of each li */
}

.navbar li a {
  display: block;
  color: #111;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  color: white;
  background-color: #111;
}